{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}Affiliates{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge"><!-- Favicon data-->
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'affiliates/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'affiliates/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'affiliates/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'affiliates/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'affiliates/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        <link href="{% static 'css/fonts.googleapis.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'affiliates/css/admin.css' %}">

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script defer src="{% static 'affiliates/js/admin.js' %}"></script>
        <style>.dialog_modal{position: fixed;z-index: 999;top: 0;left: 0;background: rgba(255, 255, 255, 0.79);width: 100%;height: 100%;text-align: center;padding-top: 10%;display: none;} .file{background: #e6e6e64d;}</style>
        {% block head-script %}{% endblock %}
    </head>

    <body class="page {% block body %}{% endblock %}">
        <section class="alert-wrapper" style="position: fixed; top: 50px; right: 50px; z-index: 300;">
            {% if 'success' in global_alert or 'success' in alert %}
            <aside class="alert alert--success"><span>{{ global_alert.success|default:alert.success }}</span><button class="alert__close-btn" type="button" onclick="alertNote.close(this)"><svg class="alert__close-icon" width="30">
                <use xlink:href="{% static 'affiliates/images/icons.svg' %}#times"></use>
            </svg></button></aside>
            {% endif %}
            {% if 'neutral' in global_alert or 'neutral' in alert %}
            <aside class="alert alert--neutral"><span>{{ global_alert.neutral|default:alert.neutral }}</span><button class="alert__close-btn" type="button" onclick="alertNote.close(this)"><svg class="alert__close-icon" width="30">
                <use xlink:href="{% static 'affiliates/images/icons.svg' %}#times"></use>
            </svg></button></aside>
            {% endif %}
            {% if 'warning' in global_alert or 'warning' in alert %}
            <aside class="alert alert--warning"><span>{{ global_alert.warning|default:alert.warning }}</span><button class="alert__close-btn" type="button" onclick="alertNote.close(this)"><svg class="alert__close-icon" width="30">
                <use xlink:href="{% static 'affiliates/images/icons.svg' %}#times"></use>
            </svg></button></aside>
            {% endif %}
        </section>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% block bottom-script %}
        {% endblock %}
    </body>

</html>