{% extends 'affiliates/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Campaigns{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger">
    <section class="campaigns section">
        <header class="section__header">
            <h1 class="section__heading">Campaigns</h1>
            <div class="section__date-filter date-filter">
                <form class="date-filter__inputs" action="" method="GET">
                    <div class="date-filter__field form-group">
                        <div class="form-group__field-group"><svg class="form-group__calendar" width="30">
                                <use xlink:href="{% static 'affiliates/images/icons.svg' %}#calendar-alt"></use>
                            </svg><input class="form-group__field js-datepicker-toggle" name="start_date" placeholder="7 Nov 2019" value="{{ start_date }}" readonly required></div>
                    </div>
                    <div class="date-filter__divider">to</div>
                    <div class="date-filter__field form-group">
                        <div class="form-group__field-group"><svg class="form-group__calendar" width="30">
                                <use xlink:href="{% static 'affiliates/images/icons.svg' %}#calendar-alt"></use>
                            </svg><input class="form-group__field js-datepicker-toggle" name="end_date" placeholder="12 Nov 2019" value="{{ end_date }}" readonly required></div>
                    </div><button class="date-filter__apply btn btn--theme-1" type="submit">Apply filter</button>
                </form>
            </div>
        </header>
        <div class="section__table-wrapper">
            <table class="table table--campaigns">
                <thead>
                    <tr>
                        <th>Campaign ID</th>
                        <th>Status</th>
                        <th>Campaign name</th>
                        <th>Conversions</th>
                        <th>Clicks</th>
                        <th>Payouts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><span class="table__mobile-heading">Campaign ID</span><a href="#">{{ item.id }}</a></td>
                        <td><span class="table__mobile-heading">Status</span><a href="#">{{ item.get_status_display }}</a></td>
                        <td><span class="table__mobile-heading">Campaign name</span><span>{{ item.get_name }}</span></td>
                        <td><span class="table__mobile-heading">Conversions</span><span>{{ item.conversions|default_if_none:0 }}</span></td>
                        <td><span class="table__mobile-heading">Clicks</span><span>{{ item.clicks|default_if_none:0 }}</span></td>
                        <td><span class="table__mobile-heading">Payouts</span><span>${{ item.payouts|default_if_none:0 }}</span></td>
                        <td><span class="table__mobile-heading">Actions</span><a href="{{ affiliates_url }}/campaign-details/?item_id={{ item.id }}">Details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <nav class="page__pagination pagination">
        <ul class="pagination__list">
            {% if items.has_previous %}
            <li class="pagination__item"><a class="pagination__link" href="{{ base_url }}page={{ items.previous_page_number }}"><div class="pagination__left"></div></a></li>
            {% else %}
            <li class="pagination__item disabled"><a class="pagination__link" href="#"><div class="pagination__left"></div></a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                 {% if items.number == i %}
                 <li class="pagination__item is-active"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                 {% else %}
                 <li class="pagination__item"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                 {% endif %}
            {% endfor %}
            {% if items.has_next %}
            <li class="pagination__item"><a class="pagination__link" href="{{ base_url }}page={{ items.next_page_number }}"><div class="pagination__right"></div></a></li>
            {% else %}
            <li class="pagination__item disabled"><a class="pagination__link" href="#"><div class="pagination__right"></div></a></li>
            {% endif %}
        </ul>
    </nav>
</main>
{% endblock %}