{% extends 'affiliates/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Campaign details{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger">
    <section class="section">
        <header class="section__header">
            <h1 class="section__heading"><a class="details__heading-text" href="{{ affiliates_url }}/campaigns/">Campaigns</a><span> / ID {{ item.id }}</span></h1>
        </header>
        <div>
            <div class="section__inner">
                <h2 class="campaign-details__heading">{{ item.get_name }}</h2>
                <div class="campaign-details__copy">
                    <div class="campaign-details__copy-inner">
                        <span class="campaign-details__copy-type">URL</span>
                        <span class="campaign-details__copy-message js-copy-message">Copied</span>
                        <input class="campaign-details__copy-field js-copy-target" value="{{ item.campaign_url }}" readonly>
                    </div>
                    <button class="campaign-details__btn btn btn--theme-2 js-copy-trigger" type="button">COPY URL</button>
                </div>
                <h2 class="campaign-details__heading">Campaign overview</h2>
                <p class="campaign-details__text show-more">{{ item.overview|slice:':100'|safe }}<span class="show-more__hidden">{{ item.overview|slice:'100:'|safe }}</span><button class="show-more__btn js-hidden-text" type="button" onclick="hiddenText.toggle(this)">See more</button></p>
                <h2 class="campaign-details__heading">Creative materials</h2>
                <div class="campaign-details__file-list">
                    {% for mat in item.creative_materials_list %}
                    <a class="campaign-details__file" href="{{ mat.file.url }}">{{ mat.file.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <p class="campaign-details__reports"> 
            <a href="{{ affiliates_url }}/reports/?campaign={{ item.id }}">Click here to see reports</a>
        </p>
    </section>
</main>
{% endblock %}