{% extends 'affiliates/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger dashboard">
    <header class="dashboard__header section">
        <dl class="dashboard__desc-list"><dt class="dashboard__term">Today</dt>
            <dd class="dashboard__desc">${{ today|default_if_none:0 }}</dd>
        </dl>
        <dl class="dashboard__desc-list"><dt class="dashboard__term">Yesterday</dt>
            <dd class="dashboard__desc">${{ yesterday|default_if_none:0 }}</dd>
        </dl>
        <dl class="dashboard__desc-list"><dt class="dashboard__term">Last 7 days</dt>
            <dd class="dashboard__desc">${{ week|default_if_none:0 }}</dd>
        </dl>
        <dl class="dashboard__desc-list"><dt class="dashboard__term">Total earned</dt>
            <dd class="dashboard__desc">${{ total|default_if_none:0 }}</dd>
        </dl>
    </header>
    <section class="section">
        <header class="section__header">
            <h1 class="dashboard__heading section__heading">Top earning campaigns</h1>
            <div class="dashboard__select form-group">
                <div class="form-group__field-group"><span class="form-group__triangle"></span><select class="form-group__field" required>
                        <option value="" selected disabled>All time</option>
                        <option value="#">Option 1</option>
                        <option value="#">Option 2</option>
                        <option value="#">Option 3</option>
                    </select></div>
            </div><button class="dashboard__apply btn btn--theme-1" type="button">APPLY</button>
        </header>
        <div class="section__table-wrapper">
            <table class="table table--dashboard">
                <thead>
                    <tr>
                        <th>Campaign name</th>
                        <th>Total earned</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><span class="table__mobile-heading">Campaign name</span><span>{{ item.get_name }}</span></td>
                        <td><span class="table__mobile-heading">Total earned</span><span>${{ item.total_payouts|default_if_none:0 }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
{% endblock %}