{% extends 'affiliates/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Recovery password{% endblock %}

{% block body %}password-recovery dialog{% endblock %}

{% block content %}
<form class="dialog__container" action="" method="POST">
    {% csrf_token %}
    <a class="dialog__logo" href="{{ affiliates_url }}">
        <img class="dialog__logo-img" src="{% static 'affiliates/images/logo-dark.png' %}" alt="Raplev logo">
    </a>
    {% if success %}
    <p class="password-recovery__desc">If you have an account with us, we sent you password reset instructions.</p>
    {% endif %}
    <div class="dialog__field form-group {% if error.email %}is-invalid{% endif %}">
        <div class="form-group__field-group">
            <input class="form-group__field" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}" placeholder="Enter your account email address" required>
            {% if error.email %}
            <svg class="form-group__required is-invalid-item">
                <use xlink:href="{% static 'affiliates/images/icons.svg' %}#exclamation-circle"></use>
            </svg>
            {% endif %}
        </div>
        {% if error.email %}
        <p class="form-group__message is-invalid-item">{{ error.email }}</p>
        {% endif %}
    </div>
    <button class="password-recovery__submit btn btn--round btn--theme-1" type="submit">Help to recover my password</button>
    <a class="password-recovery__back" href="{{ affiliates_url }}/login">Back to login page</a>
</form>
{% endblock %}