{% extends 'affiliates/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Reports{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger">
    <section class="reports section">
        <header class="reports__header section__header">
            <form class="" action="" method="GET">
                <h1 class="reports__heading section__heading">Showing {{ items|length }} of {{ paginator.count }} records</h1>
                <a class="reports__export" href="#">Export CSV</a>
                <div class="reports__select form-group">
                    <div class="form-group__field-group">
                        <span class="form-group__triangle"></span>
                        <select class="form-group__field" name="campaign">
                            <option value="">Select campaign</option>
                            {% for cam in campaigns %}
                            <option value="{{ cam.id }}" {% if campaign == cam.id|stringformat:"i" %}selected{%endif%}>{{ cam.get_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="date-filter">
                    <div class="section__header date-filter">
                        <div class="date-filter__inputs">
                            <div class="date-filter__field form-group">
                                <div class="form-group__field-group"><svg class="form-group__calendar" width="30">
                                        <use xlink:href="{% static 'affiliates/images/icons.svg' %}#calendar-alt"></use>
                                    </svg><input class="form-group__field js-datepicker-toggle" name="start_date" placeholder="7 Nov 2019" value="{{ start_date }}" readonly required></div>
                            </div>
                            <div class="date-filter__divider">to</div>
                            <div class="date-filter__field form-group">
                                <div class="form-group__field-group"><svg class="form-group__calendar" width="30">
                                        <use xlink:href="{% static 'affiliates/images/icons.svg' %}#calendar-alt"></use>
                                    </svg><input class="form-group__field js-datepicker-toggle" name="end_date" placeholder="12 Nov 2019" value="{{ end_date }}" readonly required></div>
                            </div><button class="date-filter__apply btn btn--theme-1" type="submit">Apply filter</button>
                        </div>
                    </div>
                </div>
            </form>
        </header>
        <div class="section__table-wrapper">
            <table class="table table--reports">
                <thead>
                    <tr>
                        <th>Date and time</th>
                        <th>Campaign name</th>
                        <th>Type</th>
                        <th>Payouts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><span class="table__mobile-heading">Date and time</span><span>{{ item.created_at }}</span></td>
                        <td><span class="table__mobile-heading">Campaign name</span><span>{{ item.campaign.get_name }}</span></td>
                        <td><span class="table__mobile-heading">Type</span>
                            <span class="table__type table__type--{{ item.report_field }}">{{ item.report_field }}</span>
                        </td>
                        <td><span class="table__mobile-heading">Payouts</span><span>${{ item.payout }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <nav class="page__pagination pagination">
        <ul class="pagination__list">
            {% if items.has_previous %}
            <li class="pagination__item"><a class="pagination__link" href="{{ base_url }}page={{ items.previous_page_number }}"><div class="pagination__left"></div></a></li>
            {% else %}
            <li class="pagination__item disabled"><a class="pagination__link" href="#"><div class="pagination__left"></div></a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                 {% if items.number == i %}
                 <li class="pagination__item is-active"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                 {% else %}
                 <li class="pagination__item"><a href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
                 {% endif %}
            {% endfor %}
            {% if items.has_next %}
            <li class="pagination__item"><a class="pagination__link" href="{{ base_url }}page={{ items.next_page_number }}"><div class="pagination__right"></div></a></li>
            {% else %}
            <li class="pagination__item disabled"><a class="pagination__link" href="#"><div class="pagination__right"></div></a></li>
            {% endif %}
        </ul>
    </nav>
</main>
{% endblock %}