{% extends 'theme/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Notifications{% endblock %}

{% block page-inner %}
<div class="page__inner notifications">
    <h1 class="notifications__heading">Notifications</h1>
    <ul>
        <li class="notifications__item"><span>Trade No. 4475457 has ben processed</span><a href="#">View</a></li>
        <li class="notifications__item"><span>Lorem ipsum dolor sit amet habitum Id 454547885</span><a href="#">View</a></li>
        <li class="notifications__item"><span>We will notify you that John doe has lorem ipsum</span><a href="#">View</a></li>
    </ul>
</div>
{% endblock %}