{% extends 'cadmin/base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Pages{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger">
    <div style="margin: 30px">
        <h1>Pages</h1>
        <ol>
            <li style="list-style: decimal inside"><a href="/cadmin/00_styleguide">00_styleguide.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/02_popups">02_popups.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/login">login.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/recover">recover.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/set-pw">set-pw.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/revenue">revenue.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/revenue-details">revenue-details.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/id-verify-app">id-verify-app.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/id-verify-app-details">id-verify-app-details.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/customers">customers.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/customer-details">customer-details.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/transactions">transactions.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/transaction-details">transaction-details.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/escrows">escrows.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/escrow-details">escrow-details.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/offers">offers.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/offer-details">offer-details.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/trades">trades.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/trade-details">trade-details.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/contact-form">contact-form.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/contact-form-details">contact-form-details.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/add-new-post">add-new-post.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/add-new-page">add-new-page.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/users">users.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/add-user">add-user.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/add-new-affiliate">add-new-affiliate.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/add-redirection-link">add-redirection-link.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/add-pers-link">add-pers-link.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/add-landing-page">add-landing-page.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/ticket-details-dispute">ticket-details-dispute.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/ticket-details-no-dispute">ticket-details-no-dispute.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/seo">seo.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/media-library">media-library.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/post-issue">post-issue.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/affiliates">affiliates.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/campaigns">campaigns.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/reports">reports.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/support-center">support-center.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/tags">tags.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/documentations">documentations.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/last-login">last-login.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/additional-pages">additional-pages.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/blog">blog.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/security-status">security-status.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/options">options.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/campaign-updated">campaign-updated.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/upload">upload.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/rev-stats">rev-stats.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/community-posts">community-posts.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/community-post-details">community-post-details.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/community-post-rules">community-post-rules.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/flagged-posts">flagged-posts.html</a></li>
            <li style="list-style: decimal inside"><a href="/cadmin/flagged-content">flagged-content.html</a></li>
        </ol>
    </div>
</main>
{% endblock %}